body{
    font-family: Roboto, sans-serif;
}

.navbar{
    background-color: #E51B27;
}

#cabecalho .nav .nav-link.active {
    background-color: #fff;
    color: #E51B27;
}

#cabecalho .nav .nav-link,
.navbar-brand,
.navbar-brand:hover,
.nav-cardapio .nav-link.active:hover {
    color: #fff;
}

.navbar-toggler {
    background-color: #ddeae6;
}

.section-title {
    font-family: Pacifico, cursive;
}

#sobre-o-restaurante, #cardapio{
    background-color: #ffeae6;
}

.text-colored {
    color:#E51B27;
}

.nav-cardapio .nav-link.active,
#fale-conosco button {
    background-color: #E51B27;
    color: #fff;
}

.nav-cardapio .nav-link:hover {
    color: #E51B27;
}

.social-links li{
    list-style: none;
    display: inline;
}

.social-links a {
    text-decoration: none;
}

@media (max-width: 767px){
    .carousel-item img{
        height: 280px;
    }

}